
ppt/fighting-with-enemy-within.aux
ppt/fighting-with-enemy-within.fdb_latexmk
ppt/fighting-with-enemy-within.fls
ppt/fighting-with-enemy-within.log
ppt/fighting-with-enemy-within.nav
ppt/fighting-with-enemy-within.out
ppt/fighting-with-enemy-within.snm
ppt/fighting-with-enemy-within.synctex.gz
ppt/fighting-with-enemy-within.toc
ppt/fighting-with-enemy-within.xdv
